
html{
    font-size: 62.2%;
}
/* navigation bar */
#navbar{
    flex-direction: column;
    position: relative;
}
/* Home section */
#Home{
    justify-content: flex-start;
    height:430px;
}
#Home::before{
    height:500px;
}
#Home h1{
    margin-top:50px;
    margin-bottom:12px;
    text-align: center;
}
#Home button{
    margin-top: 13px;
    font-size:18px;
}
.p-primary{
    font-size: 17px;
    margin:0;
}
/* services section */
#services{
    flex-direction: column;

}
/* clients section */
#Clients{
    flex-direction: column;
}

#Clients::before{
    height:1452px;
}
.Client-item img{
    height: 30rem;
    width: 18rem;
    padding: 1rem .5rem;
}
@media screen and (max-width:700px){
            .box{
                width:28rem;
            }
            #Home {
                height:52rem;
            }
            #Home::before{
                height:600px;
            }
        }
@media screen and (max-width:500px){
        #Home button{
            width:12rem;
            margin:0;
        }
        #Home p{
            margin:0;
        }
        
        .box{
            width:14rem;
        }
        .box img{
            width:10rem;
        }
        .Client-item img{
            width:10rem;
        }
    }
    
@media screen and (max-width:585px)
    {    ul{
    flex-direction: column;
}
   #Home {
       /* height:70rem; */
       margin:0;
       padding: 0;
   }
   #Home::before{
       height:72rem;
   }
}
/* phone2.css */

@media screen and (max-width:320px){
    
    #Home {
        height:70rem;
    }
    #Home::before{
        height:90rem;
    }
}
@media screen and (max-width:230px){
    
    #Home {
        height:80rem;
    }
    #Home::before{
        height:100rem;
    }
    .h1-primary{
        font-size: 20px;
        padding:2px;
    }
}
@media screen and (max-width:180px)
    {   #Home{
        height:90rem;
    }
    #Home::before{
    height:110rem;
    }
        #Home button{
        font-size: 12px;
        width:5rem;
        margin:0;
        padding:0;
        
    }
    #Home h1,p{
    margin:0;
}
}
@media screen and (max-width:150px)
{   #Home{
    height:40rem;
 }
#Home::before{
height:60rem;
 }
#Home h1{
    font-size:12px;
}
#Home p{
    font-size: 8px;
}
    .box{
        width:5rem;
        margin:10px 0px;
        padding:0;
        border:none;
        border-radius: 0;
        border-bottom:1px solid;
    }
    .box h1,.center{
        font-size:12px;
        
    }
    .box p{
        font-size:10px;
    }
    .box img,.Client-item img{
        width:5rem;
    }
    .form-content input{
        width: 10px;

        color:red;
    }
    footer p{
        font-size:12px;
    }
}





